.gameBoard {
    position: relative;
}

.gameSpace {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: flex;


    &__red {
        background-color: red;
    }

    &__yellow {
        background-color: yellow;
    }

    &__blue {
        background-color: blue;
    }

    &__green {
        background-color: green;
    }

    &:hover {
        border: 2px solid black;
    }
}

.piece {
    border-radius: 50%;
    border: 1px solid black;
    z-index: 1;
}

.move {
    z-index: 3;
    position: absolute;
    background-color: rgba(pink, 0);
    border: 3px solid #00ff44;
}